.dashboard-body-container{
    justify-content: center;
    display: flex;
    margin-top: 10rem;
}

.search-container{
    justify-content: center;
    display: grid;
}

.search-user-title{
    margin-bottom: 2rem;
}

.dashboard-form-container{
    position: relative;
    width: 100%;
    height: 100%;    
}

.dashboard-select{
    display: table-cell;
    position: relative;
    min-width: 10rem;
}

.paper-container{
    justify-content: center;
    display: grid;
    margin: 8rem 2rem 0 16rem;
    border: groove 1px;
}

.search-user-cancelbtn{
    display: flex;
    background-color: #f44336;
    width: auto;
    padding: 10px 18px;
    float: right;
    margin-right: 2rem;    
}

.inner-dashboard-container{
    display: grid;
    margin: 5rem 2rem 0 16rem;
    position: sticky;
}

#ipc-section{
    width: 25%;
    border: groove 1px;
}

#ipc-section-key{
    width: 75%;
    border: groove 1px;
}

#law-search-container{
    border: groove 1px;
    margin-top: 2rem;
    display: contents;
}

.law-search-cancelbtn-cntr{
    width: 100%;
}

#law-search-cancelbtn{
    display: flex;
    background-color: #f44336;
    width: auto;
    padding: 10px 18px;
    float: right;
}

#update-user-status{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    text-align: left;
    padding: 16px;
    cursor: pointer;
}

#insert-ipc-section-key{
    height: 10rem;
}

#search-text{
    width: 25%;
    border: groove 1px;
}

.law-search-submit-cntr{
    width: 25%;
}

.law-search-submit-side{
    float: right;
    width: 25%;
    margin-right: 12rem;
}

#search-text-side{
    width: 25%;
    border: groove 1px;
    margin-left: 2rem;
}

.choose-file{
    width: 25%;
    padding: 1rem 0rem 1rem 0rem;
}

.lawyer-details-container{
    display: grid;
    margin: -7rem 0rem 0 -16rem;
}

#search-select{
    width: 25%;
    border: groove 1px;
    font-size: 10px;
    padding: 1rem 1rem 1rem 1rem;
}

#case-files{
    color: #020104;
}