* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
  }
  
  .container {
    background: rgba(255, 255, 255, 1);
    position: relative;
    background: url("../Images/Law-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 590px;
    width: auto;
  }
     
  .logo p {
    text-align: center;
    font-size: 50px;
    padding: 0px 51px 0px 0px;
    color: hsl(260, 100%, 7%);
    margin-left: 25%;
    width: 100%;
  }
  
  .sign_container {
    margin-right: 2rem;
    margin-top: -25rem;
  }
  
  .signspan {
    color: white;
    font-size: 24px;
    opacity: 1;
    border: solid 5px white;
    padding: 10px 10px 10px 10px;
    margin-right: 1rem;
    cursor: pointer;
    display: grid;
  }
  
  #login{
    float: left;
    margin-bottom: 2rem;
  }
  
  #signup{
    float: right;
  }
  
  .signspan:hover{
    background:white;
    color: #020104;
    border-color: white;
  }
  
  .options{
    text-align: center;
    text-transform: uppercase;
  }
  
  .option_span {
    color: rgba(255,255,255,1);
    font-size: 20px;
    opacity: 1;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
    cursor: pointer;
  }
  
  .body_container{
    height: auto;
    width: auto;
    display: flex;
    padding: 2rem 2rem 30rem 2rem;
    justify-content: space-around;
  }
  
  .justice_logo {
    width: 32rem;
    height: 22rem;
    background: url("../Images/v1_4.png");
    background-repeat: no-repeat;
  }
  
  .body_description {
    width: 52%;
    color: black;
    font-size: 20px;
    float: right;
    text-align: justify;
    margin: 0 3rem 0 0;
    line-height: 1.6;
  }
  
  #loading-icon{
    position:absolute;
    margin-top: 10rem;   
  }