* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    overflow-x: hidden;
  }
  
  .container {
    background: rgb(37 89 92);
    position: relative;
    overflow: hidden;
    padding: 25px;
  }
  
  .logo {
    height: 100px;
    margin: 0px 10px;
  }
  
  .logo img {
    position: absolute;
    width: 150px;
    height: 60%;  
  }
  
  .logo p {
    text-align: center;
    font-size: 50px;
    padding: 0px 51px 0px 0px;
    width: 90%;
    color: rgba(255,255,255,1);
    margin-left: 25%;
  }
  
  .sign_container {
    padding: 15px 100px 15px 100px;
    float: right;
  }
  
  .signspan {
    color: rgba(255,255,255,1);
    font-family: Roboto;
    font-size: 24px;
    opacity: 1;
    border: solid 5px;
    border-color: #ffec83;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
    background:rgb(37 89 92);
    cursor: pointer;
  }
  
  #login{
    float: left;
  }
  
  #signup{
    float: right;
  }
  
  .signspan:hover{
    background:white;
    color: black;
  }
  
  .options{
    text-align: center;
    text-transform: uppercase;
  }
  
  .option_span {
    color: rgba(255,255,255,1);
    font-family: Roboto;
    font-size: 20px;
    opacity: 1;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
    cursor: pointer;
  }
  
  .body_container{
    height: 100%;
    width: 100%;
    margin: 25px 0 25px 25px;
  }
  
  .justice_logo {
    width: 50%;
    height: 75%;
    background: url("../Images/v1_4.png");
    background-repeat: no-repeat;
    opacity: 1;
    float: left;
    position: absolute;
  }
  
  .body_description {
    width: 50%;
    color: black;
    font-family: Roboto;
    font-size: 20px;
    opacity: 1;
    float: right;
    text-align: justify;
    margin: 0 80px 0 0;
    line-height: 1.6;
  }
  
  